*{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.head{
   background-color:whitesmoke;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}
.navbar a{
  display: block;
justify-content: space-around;
  color: brown;
  font-weight: bolder;
padding: 20px;


}
.have{
    font-weight: bold;
}
h2{
    font-weight: bold;
}

#logo{
    height: 2cm;
    width: 2cm;
}

    

.mission{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 400px;
    background-image: url(/images/schlback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.mission1, .mission2, .mission3{
    padding: 20px;
    font-weight: bold;
    color: black;
    background-color:rgba(113, 113, 192, 0.5);
    border: none;
    border-radius: 20px;
}



#quiz{
    background-color: peru;
    background-repeat: no-repeat;
    background-size: cover;
    


    
} 
#fomu{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    
  
    
    

}
.question1{
    background-color: whitesmoke;
    margin: 30px;
    padding: 30px;
    border: none;
    border-radius: 25px;


}
button{
    background-color: green;
    height: 40px;
    margin-left: 600px;
    color: whitesmoke;
}
    
