*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.head{
   background-color:whitesmoke;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}
.navbar a{
  display: block;
justify-content: space-around;
  color: brown;
  font-weight: bolder;
padding: 20px;


}
.have{
    font-weight: bold;
}
h2{
    font-weight: bold;
}

#logo{
    height: 2cm;
    width: 2cm;
}

    

.mission{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 400px;
    background-image: url(/images/schlback.jpg);
    background-size: cover;
    
}
.mission1, .mission2, .mission3{
    padding: 20px;
    font-weight: bold;
    color: black;
    background-color:rgba(128, 128, 128, 0.4);
}



#quiz{
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;


    
} 
#fomu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.question1{
    background-color: whitesmoke;
    margin: 30px;
    padding: 30px;
    border: none;
    border-radius: 25px;


}
#submit{
    background-color: green;
    height: 50px;
    margin-left: 600px;
    color: whitesmoke;
}
    
